<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <meta charset="UTF-8">
    <title>Flickr App</title>
</head>

<body ng-controller="fillContent">
    <h1>Flickr Searcher</h1>
    <form name="userInput" novalidate>
        <input type="text" name="userInputContent" placeholder="Enter a tag to search for" ng-model="userSearch" required>
        <button ng-click="searchingMessage()">Submit</button>
        <br />
        <br />
        <span class="error" ng-if="userInput.$submitted && userInput.userInputContent.$error.required">Enter a Tag</span>
        <span ng-if="notification && userInput.$valid">Searching for Instagram photos tagged with "{{userSearch}}"</span>
        <span ng-if="searchResults">Found {{images.length}} results for the search term "{{visibleSearchTerm}}"</span>
    </form>
    <div>
        <table>
            <tr>
                <td ng-repeat="image in images"><img ng-src="https://farm{{image.farm}}.staticflickr.com/{{image.server}}/{{image.id}}_{{image.secret}}.jpg" /></td>
            </tr>
        </table>
    </div>
</body>
<script src="https://code.angularjs.org/1.3.10/angular.js"></script>
<script type="text/javascript" src="https://code.angularjs.org/1.3.10/angular-animate.js"></script>
<script src="js/main.js"></script>

</html>
